.tile-icon {
    font-size: 40px;
}

.text-blue {
    color: rgb(61, 90, 254)
}

.text-green {
    color: rgb(0, 200, 83);
}

.text-red {
    color: rgb(255, 23, 68);
}

.text-maroon {
    color: #b00020;
}

.text-purple {
    color: rgb(123, 31, 162);
}

.text-orange {
    color: rgb(255, 171, 64);
}

.text-black {
    color: rgb(33, 33, 33);
}

.text-magenta {
    color: magenta;
}
