.tile {

    height: 70px;
    width: 70px;   
    font-size: 40px;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }


  .btn-gray-light {
    background-color: rgb(233, 233, 233);
}
.btn-yellow-light {
    background-color: rgb(250, 253, 198);
}
