
<div id="board">

	<div class="row no-gutters justify-content-center vertical-center">

		<div class="col col-sm-auto no-gutters" *ngFor="let column of board; index as x;">
			
			<div  *ngFor="let tile of column; index as y;">
	
				<button class="tile btn border border-dark" (click)="action($event, x, y)" [ngClass]="{'btn-secondary': board[x][y].isHidden(), 'btn-light': !board[x][y].isHidden()}">

					<app-tile [tile]="tile"></app-tile>
				
				</button>			
	
			</div>
	
		</div>
	
	</div>

</div>
