.tile {

    height: 70px;
    width: 70px;   
    font-size: 40px;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

.board-icon {
    font-size: 40px;
}

.text-blue {
    color: rgb(61, 90, 254)
}

.text-green {
    color: rgb(0, 200, 83);
}

.text-red {
    color: rgb(255, 23, 68);
}

.text-indigo {
    color: rgb(48, 63, 159);
}

.text-purple {
    color: rgb(123, 31, 162);
}

.text-orange {
    color: rgb(255, 171, 64);
}

.text-black {
    color: rgb(33, 33, 33);
}

.text-magenta {
    color: magenta;
}



